// header style here

header
{
    height: 90px;
    display: flex;
    
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding: 15px 30px;
    background-color: var(--clr-black-000);

    .responsive-logo
    {
        display: none;
        height: 42px;

        img 
        {
            height: 100%;
        }
    }
    .balance-wrap
    {
        gap: 10px;
        color: var(--clr-white-000);
        
        .orange 
        {
            font-size: 30px;
        }
    }

    
}

@media screen and (max-width: 460px) 
{
    header
    {
        justify-content: unset;

        .responsive-logo
        {
            display: block;
            flex: 1 0 0;
        }
    }
}

@media screen and (max-width: 400px) 
{
    header 
    {
        .balance-wrap
        {
            > *:nth-child(1)
            {
                display: none;
            }
        }
    }
}