// reseting the document

html
{
    -webkit-overflow-scrolling: touch;
    // overflow-x: clip;
    overflow-y: scroll;
    overflow-x: clip;
    scroll-behavior: smooth;
}
body
{
    background-color: #FCFBFF;
    min-height: 120vh;
    
}

*,
::before,
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ::selection
// {
    
// }

img
{
    display: block;
}

/** scrollbar **/

html  /*    firefox   */
{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    
    &:hover 
    {
        scrollbar-width: thin;
        scrollbar-color: var(--clr-orange-000) transparent;
    }
    
}

/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar 
{
    width: 6px;
}
  
html::-webkit-scrollbar-track 
{
    background: transparent;
    transition: 0.2s ease-in-out;

    &:hover
    {
        background-color: rgba(var(--clr-black-000-rgb), 0.15);
    }
}
  
html::-webkit-scrollbar-thumb 
{
    background-color: rgba(var(--clr-orange-000-rgb), 1);
    border-radius: 10px;
    border: 4px solid transparent;
    transition: 0.2s ease-in-out;

    &:hover
    {
        background-color: var(--clr-orange-000);
        border-radius: 10px;
        border: 4px solid transparent;
        transition: 0.2s ease-in-out;
    }
    
}